# APP INFO
APP_NAME=FlowsteriskAPI
APP_SECRET=                         # openssl rand -base64 32

# Custom database Credentails
DB_HOST=localhost
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Vitalpbx database credentials
OMBU_DB_HOST=localhost
OMBU_DB_NAME=ombutel
OMBU_DB_USERNAME=
OMBU_DB_PASSWORD=
OMBU_PASSWORD_SALT=